apiVersion: apps/v1
kind: Deployment
metadata:
  name: coin
spec:
  replicas: 3
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: coinbase
  template:
    metadata:
      labels:
        app: coinbase
    spec:
      containers:
        - image: rakesh994/coinbase:8c2e371
          name: http
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: coin-service
spec:
  type: NodePort
  selector:
    app: coinbase
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30080
  template:
    spec:
      containers:
        - image: rakesh994/coinbase:8c2e371
